body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

h3{
    color: red;
    font-size: 22px;
}

#topo{
   color: #ffffff; 
}

.cor_principal{
    color: blue;   
}

.tamanho_texto{
    font-size: 12px;
}